Source: toolz
Maintainer: Diane Trout <diane@ghic.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all (>= 2.6.6-3),
               python-setuptools (>= 0.6b3),
               python3-all,
               python3-setuptools
Standards-Version: 3.9.8
Homepage: http://github.com/pytoolz/toolz/

Package: python-toolz
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: List processing tools and functional utilities for Python 2
 A set of utility functions for iterators, functions, and
 dictionaries.  These functions interoperate well and form the
 building blocks of common data analytic operations. They extend the
 standard libraries itertools and functools and borrow heavily from
 the standard libraries of contemporary functional languages.
 .
 This contains the Python 2 version

Package: python3-toolz
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: List processing tools and functional utilities for Python 3
 A set of utility functions for iterators, functions, and
 dictionaries.  These functions interoperate well and form the
 building blocks of common data analytic operations. They extend the
 standard libraries itertools and functools and borrow heavily from
 the standard libraries of contemporary functional languages.
 .
 This contains the Python 3 version
